* {
    font-family: "Roboto",sans-serif;
    padding: 0;
    margin: 0;
}
.auto-margin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flx {
    display: flex;
}
.flx-end{
    display: flex;
    justify-content: flex-end;
}
.alg-center {
    align-items: center;
}
.jtc-start {
    justify-content: flex-start
}
.line {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}
.full-width  {
    width: 100%;
}
.table-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 10%);
    margin-bottom: 100px;
  }

  .ck-editor__editable {
    min-height: 500px;
}

/* Cài đặt thông báo  */

.vue-notification {
    /* // styling */
    margin: 20px 5px 5px;
    top: 20px;
    padding: 20px;
    font-size: 18px !important;
    color: #ffffff;
    height: 55px;
  
    /* // default (blue) */
    background: #44a4fc;
    border-left: 5px solid #187fe7;
  
    /* // types (green, amber, red) */
  }
